body {
    background-image: url(../img/joseph-pearson-jxgJUpL-SQg-unsplash-min.png);

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;

}

.about {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    height: 30px;
    width: 150px;
    font-family: SF Pro Text;
    font-size: 18px;
    line-height: 21px;

}

a:-webkit-any-link {
    color: #FFFFFF;
    text-decoration: none;

}

h2 {
    font-family: SF Pro Display;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.sign {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
    font-family: SF Pro Text;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;


}

.rectangle {
    display: flex;
    height: 1px;
    left: 240px;
    top: 101px;
    background: #E7E7F2;
    opacity: 0.4;
    /* Background Blur */
    backdrop-filter: blur(60px);
    /* Note: backdrop-filter has minimal browser support */
    transform: matrix(1, 0, 0, -1, 0, 0);
}


.head {

    margin-top: 209px;
    margin-left: 220px;
    width: 45rem;

}

h1 {

    font-family: SF Pro Display;
    font-size: 96px;
    line-height: 97%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    width: 45rem;
}

.text {
    font-family: SF Pro Text;
    font-size: 28px;
    line-height: 150%;
    /* or 42px */
    color: #FFFFFF;
    width: 32rem;
    margin-left: -1rem;
}

.mid_section {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.midpicture {
    display: flex;
    flex-direction: row;
    margin-left: 30rem;
    margin-top: 15rem;
    background-image: url(img/Rectangle.png);
    width: 570px;
    height: 400px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(70px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 16px 0px 0px 16px;
}

.up_text {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    margin-left: 3rem;
    margin-top: 2rem;
}

.vector {
    opacity: 0.5;
    Width: 43px;
    Height: 14px;
}

.up_text p {
    font-family: SF Pro Display;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height, or 100% */
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;

}

.up_text h4 {
font-family: SF Pro Text;
font-size: 36px;
line-height: 135%;
/* or 49px */
color: #FFFFFF;
width: 185px;
}
.andrewpic{
    width: 270px;
height: 400px;
background: url(img/andrew-ridley-RwfWSH6Xq0M-unsplash-min.png);
}
p{
    margin: 0;
}
.finalsection{
    background-image: url(img/bg.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    width: 1440px;
    height: 201px;
    margin-left: 12rem;
    padding: 9px 24px;
    margin-bottom: 0;
    height: 100%;
    padding-bottom: 40px;
    border-radius: 20px;
}
.finalsection h5{
    margin-bottom: 15px!important;
    margin-top: 20px!important;
}
.design{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.finalsection h5{
    margin: 0;
    padding: 0;
font-family: SF Pro Text;
font-size: 18px;
line-height: 21px;
/* identical to box height */
color: #FFFFFF;
mix-blend-mode: normal;

}
.table{
 display: flex;
 flex-direction: row;
 border: 1px solid gray;
 border-radius: 10px;

}
.box{
    border-right: 1px solid gray;
    color: gray;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;

}
.texttable{
    display:block;
}
.texttable p{

font-family: SF Pro Text;
font-size: 14px;
line-height: 14px;
letter-spacing: 0px;
text-align: left;


}
.icon1 {
height: 21.854808807373047px;
width: 21px;
left: 3.5px;
top: 2.645263671875px;
border-radius: 0px;
    margin-right: 15px;

}
h5{
    font-family: SF Pro Text;
font-size: 16px;
line-height: 20px;
letter-spacing: 0px;
text-align: left;

}
.search button{
width: 240px;
height: 72px;
background: #91CB82;
border-radius: 10px;
color: #FFFFFF;
}